/* Общие стили */
.visually-hidden {
    position: absolute;
    width: 1px;
    min-width: initial;
    height: 1px;
    min-height: initial;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
html,
body {
scroll-behavior: smooth;
  
  width: 100%;
}
body {
    position: relative;
    min-width: 320px;
    font-size: 18px;
    line-height: 20px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
    color: #122659;
    background: #FEFCFA;
    margin:0;
    word-wrap: normal;
    
    overflow-x: hidden;
}
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  img {
    object-fit: contain; /*ЧТО ЭТО!!!??*/
    height: auto;
  }


a{
    text-decoration: none;
    color: #122659;
}
a:hover {
    opacity: 0.7;
}
a:focus,
a:active {
    opacity: 0.2;
}
.button {
    font-weight: 500;
    background: #FFD787;
    border-radius: 35px;
    color: #122659;
    padding: 20px 35px;
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    border: none;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    opacity: 0.5;
}
.content-container {
    margin: 0 auto;
    width: 1170px;
    padding: 0 5px;
    
    
}
.content-container-small{
    margin: 0 auto;
    width: 970px;
    
    
    
}
h2{
font-family: 'Rubik',"Arial", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 36px;
}

/*Стили для кнопки НАВЕРХ*/
.up-button {
    position: fixed;
    z-index: 1;
    padding: 0;
    bottom: 75px;
    right: 20px;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    color: #122659;
    opacity: 0.6;
    background-color: #FFD787;
    
  }
.up-button:hover{
    opacity: 1;
}
  .shown {
    display: inline-block;
  }


/* Стили для HEADER*/
.header-block .header-toggle{
    display:none;
}
.header-block{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 38px;
    
    
}
.header-block .logo{
    margin-right: 4.87%;
}
.nav-list{
    padding-left: 0;
    display:flex;
    list-style: none;
    justify-content: space-between;  
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    width: 45.04%;
    min-width: 533px; 
}
.nav-list{
    font-size: 16px;
    line-height: 22px;
}
.header__contacts{
    margin-left: auto;
}

/* Стили для PROMO */
.main-block__mask-table {
    display: none;
  }
.promo{
    background-image: url("../img/background-main-desktop.png");
    background-repeat: no-repeat;
    background-size:auto;
    position: relative;
}
.promo-block{
    
    position: relative;
    width: 45%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.promo-block::before,
.promo-block::after {
  position: absolute;
  content: "";
}
.promo-block::before {
    width: 106px;
    height: 84px;
    background-image: url("../img/car.svg");
    background-size: cover;
    top: 30px;
    left: -100px;
  }
  
  .promo-block::after {
    width: 91px;
    height: 62px;
    background-image: url("../img/cloud.svg");
    top: 60px;
    left: 1000px;
  }
.promo-heading{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    margin-top: 130px;
    margin-bottom: 15px;
}
.promo-subtitle{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
margin-top: 0;
  margin-bottom: 19px;
}
.promo-text{
    margin-top: 0;
  margin-bottom: 40px;
}
/* Стили для education*/

.education {
    position: relative;
    margin-top: 118px;
    text-align: center;
}
.education-heading{
    margin-bottom: 60px;
}
.education-block{
    position: relative;
}
.education-block::before,
.education-block::after{
    content: ' ';
    position: absolute;
}
.education-block::before{
    width: 90px;
    height: 117px;
    background-image: url(../img/girl.svg);
    background-size: cover;
    top: 20px;
    left: -150px;
}
.education-block::after{
    width: 135px;
    height: 68px;
    background-image: url(../img/rocket.svg);
    background-size: cover;
    top:-150px;
    right: -70px;

}
.education-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
}
.education-list h3{
    font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 17px;
}
.education-text{
    font-size: 16px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
}
.education-item-1{
    width: 440px;
    text-align: left;
    
}
.education-item-2{
    text-align: center;
    
}
.education-item-video{
    position: relative;
    border-radius: 12px;
    width: 431px;
    height: 231px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.education-item-2 img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 1;
  }

  /* ДЛЯ JS */
.process-video--start-js img {
    display: none;
  }
/*  
  .education-video {
    display: block;
    border-radius: 12px;
    object-fit: cover;
    width: 431px;
    height: 231px;
    background: transparent;
  }
  */

  .education-video-button {
    display: block;
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    width: 51px;
    height: 51px;
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
    border-radius: 50%;
    outline: none;
    background-image: url("../img/icon-play.svg");
    z-index: 2;
  }

  /* ДЛЯ JS */
.process__video--start-js .process__video-button {
    display: none;
  }

.education-video-button:hover,
.education-video-button:focus,
.education-video-button:active{
    opacity: 0.5;
}


/* Стили для TYPES*/
.types{
    margin-top: 130px;
}
.types-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}
.types-list::before {
    position: absolute;
    content: "";
    width: 332px;
    height: 381px;
    top: 10px;
    left: 50%;
    background-image: url("../img/girl.png");
    transform: translateX(-50%);
    z-index: 2;
  }

.types-item{
    position: relative;
    width: 50%;
    padding-top: 45px;
    padding-right: 160px;
    margin-bottom: 129px;
}
.types-item:nth-of-type(even) {
    padding-top: 0px;
    padding-left: 197px;
    padding-right: 0;
  }
.types-item-second {
    padding-bottom: 45px;
  }
  
.types-item-fourth {
    margin-top: -26px;
    padding-bottom: 60px;
  }
.types-item::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
  }
.types-item-first::before {
    width: 182px;
    height: 61px;
    top: -25px;
    right: 85px;
    background-image: url("../img/decorate-arrow-left-1.svg");
  }
.types-item-second::before{
    width: 140px;
    height: 105px;
    top:125px;
    left: 155px;
    background-image: url("../img/decorate-arrow-right-1.svg");

}
.types-item-third::before{
    width: 138px;
    height: 126px;
    background-image: url("../img/decorate-arrow-left-2.svg");
    top:-100px;
    left:175px;
}
.types-item-fourth::before{
    width: 180px;
    height: 80px;
    background-image: url("../img/decorate-arrow-right-2.svg");
    top:115px;
    left: 45px;
    
}
.types-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
.types-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 23px;
  }

/* Стили для GROUPS*/
.groups{
    position: relative;
    padding-bottom: 70px;
    background-image: url('../img/background-groups.svg');
    background-size: 100% 110%;
    min-height: 803px;
}
.groups::before{
    position: absolute;
    content: '';
    width: 56px;
    height: 58px;
    background-image: url('../img/star.svg');
    top: 100px;
    left: 80px;
}
.groups-block{
    padding-top: 180px;
}

.groups-heading-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.groups-heading-text h2{
    margin-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.groups-heading-text p{
    margin-top: 0;
    max-width: 300px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.groups-list{
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
}
.groups-item{
    text-align: center;
    border:3px solid #8DD9E5;
    border-radius: 12px;
    padding: 60px;
}
.groups-item-heading{
    margin-bottom: 40px;
}
.groups-item-blue .button-blue{
    background-color: #8DD9E5;
}
.groups-item-yellow{
    border:3px solid #FFD787;
}
.groups-item-pink{
    border:3px solid #FEB9CC;
}
.groups-item-pink .button-pink{
    background-color: #FEB9CC;
}
.groups-button{
    margin-top: 40px;
}
/* Стили для TEACHERS*/
.teachers{
    position: relative;
    margin-top: 130px;
}
.teachers::before,
.teachers::after{
    position: absolute;
    content: '';
}
.teachers::before{
    width: 58px;
    height: 97px;
    background-image: url('../img/house.svg');
    top: -20px;
    right: 40px;
}
.teachers::after{
    width: 44px;
    height: 132px;
    background-image: url('../img/pencil.svg');
    bottom: 0;
    left: 10px;

}
.teachers-heading-text{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 115px;
    
}
.teachers-heading-text h2{
    font-family: "Rubik", Arial, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin-left: 15px;
    margin-top: 0;
  margin-bottom: 0;
}
.teachers-heading-text p{
    line-height: 23px;
    margin-top: 0;
    max-width: 350px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.teachers-block-slider{
    overflow: hidden;
    width: 100%;
    margin-right: -15px;
}
.teachers-list{
    margin-top: 50px;
    list-style: none;
    display: flex;
    padding-left: 0;
    width: 100%;
}
.teachers-item{
    margin-right: 30px;
}
.teachers-nav{
    text-align: center;
    cursor:pointer;
}

/* Стили для TRIAL*/
.trial-lesson{
    position: relative;
    min-height: 453px;
    margin-top: 121px;
    padding-bottom: 50px;
}
.trial-lesson svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
.banner-background-tablet,
.banner-background-mobile {
    display: none;
  }
.trial-lesson-block{
    position: relative;
    width: 50%;
    text-align: center;
    padding: 20px;
    margin:0 auto;
    padding-top: 60px;
}
.trial-lesson-heading{
    font-family: "Rubik", Arial, sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
}
.trial-lesson-text{
    width: 80%;
    margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 35px;
  color: #ffffff;
}
/* Стили для MAP*/
.map{
    margin-top: 200px;
    position: relative;
    position: relative;
    overflow: hidden;
}
.map img {
    object-fit: cover;
    height: 100%;
  }
.contacts{
    position: absolute;
    top:0px;
    left:200px;
    background: #F7FAFC;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
    padding: 0 70px 50px 70px;
}
.contacts-heading{
    margin-top: 5px;
}
.contacts-text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.contacts-text > p > span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.contacts-social{
    list-style: none;
}
.contacts-social-item{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FFFFFF;
    display: inline-block;
}
.contacts-social-item a{
   
}
.footer{
    padding-top: 56px;
  padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
}
/*font-family: 'Rubik', "Arial", sans-serif;*/