/* Общие стили */
.visually-hidden {
    position: absolute;
    width: 1px;
    min-width: initial;
    height: 1px;
    min-height: initial;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
html,
body {
scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
body {
    position: relative;
    min-width: 320px;
    font-size: 18px;
    line-height: 20px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
    color: #122659;
    background: #FEFCFA;
    margin:0;
    word-wrap: normal;
}
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
a{
    text-decoration: none;
    color: #122659;
}
a:hover {
    opacity: 0.7;
}
a:focus,
a:active {
    opacity: 0.2;
}
.button {
    font-weight: 500;
    background: #FFD787;
    border-radius: 35px;
    color: #122659;
    padding: 20px 35px;
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    border: none;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    opacity: 0.5;
}
.content-container {
    margin: 0 auto;
    width: 1170px;
    padding: 0 10px;
}
.content-container-small{
    margin: 0 auto;
    width: 970px;
    
}

/*Стили для кнопки НАВЕРХ*/
.up-button {
    position: fixed;
    z-index: 1;
    padding: 0;
    bottom: 75px;
    right: 20px;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    color: #122659;
    opacity: 0.6;
    background-color: #FFD787;
    
  }
.up-button:hover{
    opacity: 1;
}
  .shown {
    display: inline-block;
  }


/* Стили для HEADER*/
.header-block .header-toggle{
    display:none;
}
.header-block{
    display: flex;
    align-items: center;
    height:103px;
    
    
}
.header-block img{

}
.nav-list{
    width: 100%;
    padding-left: 0;
    outline: 1px solid red;
    display:flex;
    list-style: none;
    justify-content: space-between;   
}
.nav-list{
    
}
.header__contacts{
    margin-left: auto;
}
/*font-family: 'Rubik', "Arial", sans-serif;*/